table, th, tr, td{
	border: 1px solid;
	text-align: center;
}
.nested2{
	width: 100%;
}
.nested1{
	width: 100%;
}
.nested3{
	width: 100%;
}
.nested4{
	width: 100%;
}
#bg{
	background-color: black;
	color: white;
}